html, body {
    font-size: 16px;
    background-color: #F4E8E1;
    height: 100%;
}

p {
    font-family: 'Roboto', Georgia, 'Times New Roman', serif;
    font-weight: 300;
    line-height: 1.4em;
    color: #0C03A8;
}

p.left {
    float: left;
}

p.right {
    float: right;
}


  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.header {
    text-align: center;
    font-family: 'Rubik', Verdana, Arial, sans-serif;
    font-weight: 600;
    color: #403D75;
    font-size: 2.953em;
    text-transform: uppercase;
}

h1 {
    font-family: 'Rubik', Verdana, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #403D75;
}

h2 {
    font-family: 'Poppins', Verdana, Arial, sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1.953em;
    padding-top: 15px;
    color: #B5ADA5;
}

.about {
    background-color: #1A77DB;
    font-family: 'Poppins', Verdana, Arial, sans-serif;
    font-weight: 500;
    width: max-width;
    height: flex;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.hobbies {
    background-color: #1A77DB;
    font-family: 'Poppins', Verdana, Arial, sans-serif;
    font-weight: 500;
    width: max-width;
    height: flex;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.contact {
    background-color: #1A77DB;
    font-family: 'Poppins', Verdana, Arial, sans-serif;
    font-weight: 500;
    width: max-width;
    height: flex;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

p.left {
    float: left;
}

p.right {
    float: right;
}


img.small {
    width: 25%;
    height: 25%;
}

img.container {
    text-align: center;
    display: block;
}

img.align-center {
    display: block;
    margin: 0px auto;}

	img.align-left	{
        float: left;
        margin-right: 10px;}
    img.align-right	{
        float: right;
        margin-left: 10px;}
    img.medium {
        width: 25%;
        height: 2x5%;}

figcaption {
    color: #0C03A8;
    font-family: 'Roboto', Georgia, 'Times New Roman', serif;
    font-weight: 300;
    padding: 2px;

sentence {
    font-style: italic;
}

div.ex2 {
    width: 300px;
    padding: 50px;
    background-color: lightblue;
}

.intro {
    text-indent: .2em;
}
    
.footer {
  text-align: center;
  padding: 3px;
  background-color: Black;
  color: white;
}